body {
  background-color: #f5f5f5;
  overflow: scroll;
}

/* Hide scrollbar */
.left, .right::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.left, .right {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width: 50vw;
  height: 100vh;
}
