/* Text styling */

html {
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
  display: none;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.rainbow-link > img {
  width: 1rem;
  vertical-align: middle;
}

a:link {
  color: #28282a;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  /* For Safari 3.0 to 6.0 */
  transition: color 0.1s;
  /* For modern browsers */
}

a:visited {
  color: #28282a;
  text-decoration: none;
}

a:active {
  color: #28282a;
  text-decoration: none;
}

::selection {
  background: #28282a;
  color: #f5f5f5;
  text-shadow: none;
}

h1 {
  margin: 1rem 0 0 0;
  font-family: sans-serif;
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  margin: 0rem 0rem 0.5rem;
}

/* Division styling */

body {
  box-sizing: border-box;
  color: #28282a;
  font-family: sans-serif;
  font-size: 1rem;
  height: 100vh;
  margin: 0 1rem;
  width: calc(100% - 2rem);
}

nav {
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  height: 3rem;
  width: calc(100vw - 2rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

div {
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

p {
  margin-top: 1rem;
}

.flex-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.1rem;
  height: 100%;
  padding: 0;
  width: 100%;
}

.left, .right{
  padding: 3rem 0 0;
  width:50%;
}

.left {
  column-gap: 0.2rem;
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr min-content;
  line-height: 1.2rem;
}

.right {
  overflow-y: scroll;
}

.rainbow-link:hover {
  animation: background-pan 3s linear infinite;
  transition: 350ms;
  background: linear-gradient(
    to right,
    yellow,
    skyblue,
    limegreen,
    yellow);
  background-size: 200%;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-link:hover > img {
  filter: invert(50%) sepia(100%) hue-rotate(90deg) saturate(300%);
  transition: 350ms;
}

.project-card-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(max(12rem, 100%/3), 1fr)
  );
  height: min-content;
  overflow-y: scroll;
}

#scroll-text {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 2rem 0 0;
  margin-bottom: 1rem;
}

/* Project card styling */

.project-card{
  background: linear-gradient(
    130deg, 
    white 33%, 
    #f7de3a 66%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  color: #28282a;
  height: fit-content;
  margin: 0.1rem;
  overflow: hidden;
  padding: 0.5rem;
  transition: ease 350ms;
}

.project-card:hover {
  -webkit-text-fill-color: white;
  background-position: 100% 100%;
  transform: scale(1.01, 1.01);
  transition-delay: 0.1s;
}

.pc-img {
  width: 100%;
}

/* Project pages*/

.project-background {
  animation-fill-mode: forwards;
  animation: project-page 2s ease-in 0s 1;
}

.project-page {

  height: 100vh;
  overflow-y: scroll;
  padding-top: 2rem;
}

.project-page > section {
  margin: 1rem 1rem;
  overflow: hidden;
}

.cover-img {
  box-sizing: border-box;
  display: flex;
  max-height: 65vh;
  width: 1fr;
}

.cover-img > img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
}

.project-info {
  display: flex;
  min-height: min-content;
  gap: 2rem;
  flex-direction: row;
}

.project-info > .project-title {
  flex: 2;
  grid-template-areas: 
  'Header Alert' 
  'Info Alert';
  text-align: left;
}

.project-info > .project-description {
  flex: 3;
  max-height: 26vh;
  overflow-y: scroll;
  text-align: right;
}

.project-info > .project-title > .purchase-button {
  background: linear-gradient(
    130deg, 
    white 33%, 
    #f7de3a 66%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  border-radius: 4px;
  border: 3px solid #f7de3a;
  box-sizing: border-box;
  color: #28282a;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  transition: ease 350ms;
  width: 8rem;
}

.project-info > .project-title > .purchase-button:hover {
  -webkit-text-fill-color: white;
  background-position: 100% 100%;
  transition-delay: 0.1s;
}


.gallery-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: min-content;
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 24vw;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: min-content;
  justify-content: space-between;
  padding-top: 1rem;
  width: calc(100% - 2rem);
  white-space: nowrap;
}

/* Phones below 600 pixels */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .flex-wrapper {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
    height: 50%;
  }
  .right {
    padding: 0 0 0;
  }
}

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }
}