/* Text styling */

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 90%;
  }
}

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }
  .right {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 110%;
  }
  .right {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

a:link {
  color: #28282a;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  /* For Safari 3.0 to 6.0 */
  transition: color 0.1s;
  /* For modern browsers */
}

a:visited {
  color: #28282a;
  text-decoration: none;
}

a:hover {
  color: #ecdd7b;
  text-decoration: none;
}

a:active {
  color: #28282a;
  text-decoration: none;
}

::selection {
  background: #28282a;
  text-shadow: none;
  color: #f5f5f5;
}

h1 {
  font-size: 3.5rem;
  font-family: serif;
}

h2 {
  font-size: 1rem;
  margin: 0rem 0rem 0.5rem;
}

/* Division styling */

body {
  position: fixed;
  margin: 0;
  box-sizing: border-box;
  background-color: #faf9f6;
  font-family: sans-serif;
  color: #28282a;
  height: 100vh;
  overflow: visible;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0rem 1rem 0rem;
  flex-direction: row;
  flex-wrap: nowrap;
  border-style: none;
  border-bottom: 0.1rem solid;
}

.navbar-img {
  height: 3rem;
}

hr {
  height: 0.1px;
  border: none;
  background-color: black;
  margin: 0 0 1px;
}

div::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.flex-wrapper {
  height: calc(100% - 4rem);
  margin: 0rem 1rem;
  width: calc(100vw - 3rem);
  gap: 3rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
}

.left, .right{
  width:50%;
}

.left {
  display: grid;
  line-height: 1.2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 3rem;
  grid-template-rows: 1fr min-content;
  grid-row-gap: 0.5rem;
}

.right {
  overflow-y: scroll;
}

.project-card-grid {
  display: grid;
  padding: 1.5rem 0 0;
  grid-template-columns: repeat(auto-fit, minmax(max(14rem, 100%/3), 1fr));
  height: min-content;
  overflow-y: scroll;
}

#scroll-text {
  overflow-y: scroll;
}

/* Project card styling */

.project-card {

  color: #faf9f6;
  border-radius: 0.2rem;
  box-sizing: border-box;
  height: fit-content;
  margin: 0rem 0.5rem 1rem;
  padding: 0.5rem;
  background-color: #28282a;
  font-size: 0.8em;
  overflow: hidden;
}

.pc-img {
  width: 100%;
}
